main {
    background-color:#B0E0E6
}
h1 {
    font-size:350%;
    text-align: center;
}
header{
    width:100vw;
}
header img {
    display:block;
    margin: auto;
}
header {
    background-color:#B0C4DE
}
h2 {
    padding
}
p {
    font-size:175%
}
